body{
        background-color:#FFF9DA ;
    }
h1, h2{
    font-family: montecatini-pro-normale, serif;
    font-weight: 700;
    font-style: normal; 
}
h1{
    text-align: center;
}
p{
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
header{
    text-align: center;
    margin: 0;   
}
header>img{
    max-width: 25rem;
}
header>nav{
    display: flex;
    justify-content: space-around;
    padding: 0rem 0rem 5rem 0rem;
}
a{
    color: #231F20;
    font-family: montecatini-pro-normale, serif;
    font-weight: 700;
    font-style: normal;
}
a:hover{
    color: #7F9968;
}
h2{
    background-color: #7F9968;
    padding: 1rem;
    width: fit-content;
    text-align: center;
}
footer{
    background-color: #7F9968;
    padding: .5rem;
    color: #FFF9DA;
}
footer>a{
    color:#FFF9DA
}
footer>a:hover{
    color: #231F20;
}
.zine{
    background-color: #7F9968;
    display: block;
    padding: 2rem;
}
.zine>img{
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
}
#intro{
    background-color: #7F9968;
    text-align: left;
    padding: 1rem;
}
.sza{
    background-color: #7F9968;
    padding: 2rem;
}
.wonderland{
    background-color: #7F9968;
    padding: 2rem;
}
.home{
    display: flex;
    justify-content: space-evenly;
}

